<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LogLevel>DEBUG</LogLevel>
  <Attributes>
    <Attribute Name="LedCollection" Value="9,192.168.127.72;10,192.168.127.73" />
  </Attributes>
  <Services>
    <Service Name="CarPLC" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="CarPLC.xml" />
    <Service Name="CranePLC5" Type="MCP.Service.Siemens.dll, MCP.Service.Siemens.OPCService" ConfigFile="CranePLC5.xml" />
  </Services>
  <Processes>
    <!--堆垛机Process-->
    <Process Name="CraneProcess" Type="Dispatching.dll, Dispatching.Process.CraneProcess">
      <Item ServiceName="CranePLC5" ItemName="TaskFinish" />
      <Item ServiceName="CranePLC5" ItemName="nAlarmCode" />
    </Process>
    <!--小车Process-->
    <Process Name="CarProcess" Type="Dispatching.dll, Dispatching.Process.CarProcess">
      <Item ServiceName="CarPLC" ItemName="117_StockRequest" />
    </Process>
    <!--LED Process-->
    <Process Name="LEDProcess" Type="Dispatching.dll, Dispatching.Process.LEDProcess" >
      <Item ServiceName="CarPLC" ItemName="117_TaskNo" />
      <Item ServiceName="CarPLC" ItemName="118_TaskNo" />
      <Item ServiceName="CarPLC" ItemName="119_TaskNo" />
      <Item ServiceName="CarPLC" ItemName="120_TaskNo" />
      <Item ServiceName="CranePLC5" ItemName="nAlarmCode" />
    </Process>
  </Processes>
</Configuration>